.venv
*.crt
*.csv
*.csr
*.key
*.DS_Store
*.pem
*.pkl
*.pyc
*.srl
*.svg
*.png
flower_app/certificates
flower_app/results
results
Tutorial and Notes/flare_examples_backup/
flower_app_ml/flwr-ml
shared_app/nvflare_sim/flwr-ml
